
#ignoring a folder with all it's subdirectories, to ignore saved files and downloads


/downloads
/spanish_steps
/vbr_mapillary_downloads
/vbr_mapillary_overlap1
downloads.ipynb


__pycache__/vbr_mapillary_downloads/
**/.DS_Store
